$primary: #7fca31;
$secondary: #1e191a;
$dark: #353232;

$body-bg: #1e191a;
$body-color: #eee;

@import "/node_modules/bootstrap/scss/bootstrap";

.btn {
    border: 1px solid $primary;

    &:focus {
        border: 1px solid darken($primary, 10%);
    }
}

svg {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}